.poll-card {
  margin-left: 50px;
  margin-right: 50px;
}

.choice-list {
  li {
    margin-bottom: 10px;
    min-width: 250px;
  }
}

.navbar button {
  margin-bottom: -15px;
  margin-top: -15px;
}

.question-title {
  font-size: 14pt;
}

.question-owner {
  font-style: italic;
  font-size: 8pt;
}

.hidden {
  height: 0px;
  width: 0px;
  opacity: 0;
}

.question-with-delete {
  display: flex;
  justify-content: space-between;
}

.pie-chart-container svg {
  display: block;
  margin: 0 auto;
}
