<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Voting App: Mainpage Prototype</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">1Vote</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/newpoll">New Poll</a></li>
                    <li><a href="/">Home</a></li>
                    <li>
                        <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="react-container">
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

    <script src="main.bundle.js"></script>




</body>

</html>
